
# hide all files that are irrevelant to the project
**/cmake-build-debug/
**/__pycache__/
**/.idea/
**/CMakeLists.txt
**/*.exe
/grammer.md
git_repo/
tokens.txt
template.cpp
_out/
_in/


# hide the unfinished parser stuff
src/parser/
!src/parser/__init__.py

# hide all the installer files no one needs
installer/vs/*
!installer/vs/installer_wix
installer/vs/installer_wix/*
!installer/vs/installer_wix/package
installer/vs/installer_wix/package/obj/
!installer/vs/installer_wix/package/bin
installer/vs/installer_wix/package/bin/x86/Debug/en-US/*
!installer/vs/installer_wix/package/bin/x86/Debug/en-US/package.msi
